<html>
<body>
<div class="container" id="main">
   <div class="signin" >
      <form name="form2" #signinform="ngForm" (ngSubmit)="Onsubmit(signinform.value)">
         <h1>Sign In here</h1>
         <p>Use your mail for registration</p>
         <input type="email" name="email1" placeholder="email" ngModel>
         <input type="password" name="password1" placeholder="Password" ngModel>
         <button>Sign In</button>
         <!-- <p>{{message}}</p> -->
         <p>Don't have account? <a routerLink="/signin">Register here</a></p>
      </form>
   </div>

      <div class="overlay-container">
         <div class="overlay">
            <div class="overlay-right">
            </div>
         </div>
      </div>

</div>
</body>
</html>
