<html>
<body>
<div class="container" id="main">
   <div class="signup" >
      <form #signupform="ngForm" >
         <h1>Create Accout</h1>
         <p>Use your mail for registration</p>
         <input type="text" name="text" placeholder="Name" ngModel>
         <input type="text" name="text" placeholder="email" ngModel>
         <input type="text" name="text" placeholder="Password" ngModel>
         <button>Sign Up</button>
      </form>
   </div>
   <div class="signin" >
      <form #signinform="ngForm" >
         <h1>Sign In here</h1>
         <p>Use your mail for registration</p>
         <input type="text" name="text" placeholder="email" ngModel>
         <input type="text" name="text" placeholder="Password" ngModel>
         <button>Sign In</button>
      </form>
   </div>

      <div class="overlay-container">
         <div class="overlay">
            <div class="overlay-right">
               <button id="SignUp" >Sign Up</button>
               <button id="SignIn" >Sign In</button>
            </div>
         </div>
      </div>

</div>
</body>
</html>
